<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.map.food.mapper.apiData.BestRestaurantApiDataMapper">

    <insert id="insertBestRestaurant" parameterType="BestRestaurantDTO">
        INSERT INTO BESTRESTAURANT (
            RESIDX,
            RESMAINDISH,
            BESTREGYEAR
        ) VALUES (
            #{RESIDX},
            #{RESMAINDISH},
            #{BESTREGYEAR}
        )
    </insert>

    <select id="selectAll" resultType="BestRestaurantDTO">
        SELECT * FROM BESTRESTAURANT
    </select>

    <select id="selectById" resultType="BestRestaurantDTO" parameterType="String">
        SELECT * FROM BESTRESTAURANT WHERE RESIDX = #{RESIDX}
    </select>

</mapper>
